{% extends 'base.html' %}

{% block title %}
Accounts List
{% endblock title %}

{% block content %}
<main>
    <table>
        <tr>
            <thead>Name</thead>
            <thead>Number</thead>
            <thead>Number of receipts</thead>
        </tr>
        {% for account in accounts %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.number }}</td>
            <td>{{ account.items.count }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
