{% extends 'base.html' %}

{% block title %}
Accounts List
{% endblock title %}

{% block content %}
<main>
    <table>
        <tr>
            <thead>Name</thead>
            <thead>Number of receipts</thead>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.name }}</td>
            <td>{{ expense.items.count }}</td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
